*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
   /* margin: 10px 30px; */
}

:root{
    --margins: 30px 120px;
    --orange:#FF5400;
    --black:#131318;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--margins);
}

.head{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    
}

.logo{
    height: 30px;
    width: 40px;
}

.nav-head{
    margin-left: 10px;
    font-size: 20px;
}


.nav-bar>ul{
    display: flex;
    /* justify-content: space-evenly; */
}

.nav-bar li{
   list-style: none;
   margin-right: 40px;
   font-size: 18px;
} 

.nav-bar>ul li a{
    text-decoration: none;
    /* font-size: 20px; */
} 

span .travel{
    color: var(--orange);
}

.banner{
    margin: var(--margins);
   
}

.banner img{
    width: 100%;
   border-radius: 16px;
   background: linear-gradient(180deg,red,blue);
}
